@{
    ViewData["Title"] = "Home Page";
}



    <div id="home-owl" class="owl-carousel owl-theme">
        <!-- home item -->
        <div class="home-item">
            <!-- section background -->
            <div class="section-bg" style="background-image: url(123.jpg)"></div>
            <!-- /section background -->
            <!-- home content -->
            <div class="home">
                <div class="container">
                    <div class="row">
                        <div class="col-md-8">
                            <div class="home-content">
                                <h1><font color="black">Donate Blood! Save Lives!</font></h1>
                                <p class="lead"><font color="black">Sign up to Blood Cottage today and help those in need.</font></p>
                                <a href="https://localhost:44344/Identity/Account/Register" class="primary-button">Join Now!</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /home content -->
        </div>
        <!-- /home item -->


    </div>
